
<table class='table'>
		<tr>
		    <th>Firstname</th>
		    <th>Lastname</th> 
		    <th>Email</th>
		    <th>Location</th>
	  	</tr>
		{% for user in users %}
		{% if user.id === defaultUser.id %}
		<tr class="bg-primary">
		{% else%}
		<tr>
		{% endif %}
			<td>{{user.firstName}}</td>
			<td>{{user.lastName}}</td>
			<td>{{user.email}}</td>
			<td><a href="/users/filter/{{active}}/{{user.id}}">
			({{user.latitude}}, {{user.longitude}}) </a>
			{% if user.id === defaultUser.id %}&nbsp - &gt{% endif %}</td>
		</tr>
		{% endfor %}
	</table>